@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

@layer components {
  .background-standard {
    @apply bg-slate-100 dark:bg-slate-800;
  }

  .background-gradient-standard {
    @apply bg-gradient-to-br from-slate-100 to-slate-200 dark:from-slate-800 dark:to-slate-900;
  }

  .background-low-contrast {
    @apply bg-slate-200 dark:bg-slate-900;
  }

  .background-gradient-low-contrast {
    @apply bg-gradient-to-br from-slate-200 to-slate-300 dark:from-slate-900 dark:to-slate-950;
  }

  .background-lower-contrast {
    @apply bg-slate-300 dark:bg-slate-950;
  }

  .background-gradient-lower-contrast {
    @apply bg-gradient-to-br from-slate-300 to-slate-400 dark:from-slate-900 dark:to-slate-950;
  }

  .menu-text {
    @apply text-slate-900 dark:text-slate-100 noselect;
  }

  .menu-text-low-contrast {
    @apply text-slate-800 dark:text-slate-200 noselect;
  }

  .menu-text-lg {
    @apply text-slate-900 dark:text-slate-100 text-lg noselect;
  }

  .nodeComponent {
    @apply flex rounded-md p-4 gap-3;
  }

  .sidebar-header-section {
    @apply flex flex-col items-start w-full p-6 gap-6 background-lower-contrast;
  }
  .sidebar-content-section {
    @apply flex flex-col items-start flex-auto w-full p-3 overflow-y-auto;
  }
  .sidebar-footer-section {
    @apply flex flex-col items-start w-full p-6 gap-2 background-lower-contrast mb-0;
  }

  .sidebar-list-menu-item {
    @apply px-4 py-3 w-full flex rounded-md justify-between items-center noselect;
  }

  .hoverable-menu-item {
    @apply cursor-pointer transition-colors ease-in-out hover:bg-slate-300 hover:text-slate-700 dark:hover:bg-slate-700 dark:hover:text-slate-50;
  }

  .glassmorph {
    @apply bg-slate-900 dark:bg-slate-900 bg-clip-padding backdrop-filter backdrop-blur-lg bg-opacity-20;
  }

  .formItem {
    @apply flex flex-row items-center justify-between p-4;
  }

  .formLabelContainer {
    @apply space-y-0.5;
  }
  .formLabel {
    @apply text-base;
  }
}
